/******* GENERAL *******/
/* spacing on all sections */
body {
    background-color: black!important;
}

a:hover{
    color: white!important;
}

#contact {
    background-color: #ffb3ec!important;
}

#about,
#skills,
#portfolio {
    margin-top: 4rem;
    padding-top: 4rem;
}
#about h2,
#skills h2,
#portfolio h2 {
    margin-bottom: 3rem;
    color: white;
    font-family: 'Abril Fatface', serif;
}

#portfolio h3,
#contact h3 {
    font-family: 'Abril Fatface', serif;
}

#portfolio p,
#contact p {
    font-family: 'Poppins', serif;
    font-weight: 800;
}

#contact {
    padding-bottom: 4rem;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color: #ffb3ec;
    font-family: 'Abril Fatface', serif;
}

.nav-links {
    display: block;
    padding: 0.5rem 1rem;
    color:#ffb3ec;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: larger;
    font-weight: 700;
}

/* display background dark color on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height: 70vh;
    max-height: 900px;
    background-color: black;
    background-size: cover;
    position: relative;
}

.presentation {
    margin-top: 25vh!important;
}

.myPhoto {
    width: 100%;
    max-width: 50%;
    background: linear-gradient(90deg, #ffb3ec 0%, #94bbe9 100%);
    border-radius: 13px;
    padding: 5px;
    box-sizing: border-box;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    font-family: 'Abril Fatface', serif;
    color: white;
}
.hero_desc {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-left: 50px;
}

span {
    color: #ffb3ec;
    font-weight: 800;
}

.flex {
    display: flex;
}

.pink {
    color: #ffb3ec;
}

.pinkBg {
    background-color: #ffb3ec;
}

/* about */

.introductionText {
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 700;
}

.imageAboutPage {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* skills */

.card-text {
    font-family: 'Poppins', serif;
    color: black;
    font-weight: 700;
}

.skillsText.card {
    height: 350px;
    cursor: pointer;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

/* portfolio */
#portfolio p {
    text-align: center;
}

.carousel-inner {
    min-height: 40vh;
}

/* contact */

#contact {
    max-height: 25vh;
    background-color: #ffb3ec;
    margin-top: 2rem;
    padding-top: 2rem;
}

#contact h2 {
    margin-bottom: 1rem;
    color: white;
    font-family: 'Abril Fatface', serif;
}
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: white;
}
#contact p, 
#contact a {
    text-decoration: none;
    color: black;

}
/* footer */

.footerBar {
    background-color: #ffb3ec;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', serif;
    color: black;
    font-weight: 700;
}

/* Responsive */

@media screen and (max-width: 992px) {
    .imageAboutPage {
        max-width: 50%;
    }

    .carousel-inner {
        min-height: 25vh;
    }

    #contact {
        max-height: 100%;
    }
}